@import "tailwindcss";

@font-face {
  font-family: Poppins ExtraBold;
  src: url(../assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins Regular;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@layer {
  * {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
