@font-face {
  font-family: Poppins ExtraBold;
  src: url(../assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: Poppins Regular;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #23272e;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
}

.nav_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.nav_name {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-family: Poppins ExtraBold;
}

.nav_ul {
  display: flex;
  justify-content: center;
  gap: 5mm;
  list-style: none;
}

.nav_ul a {
  text-decoration: none;
  color: white;
  font-family: Poppins Regular;
  font-size: 17px;
}

.nav_ul a:hover {
    color: rgb(172, 171, 171);
}

.nav_ul_div {
  display: flex;
  gap: 5mm;
}

.nav_ul_div img {
  color: white;
  transform: scaleX(-1);
}

.nav_ul_div span {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.3);
}

/* Handle footer at bottom */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  text-align: center;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgb(204, 204, 204);
  font-size: 12px;
  font-family: Poppins Regular;
  width: 100%;
}

footer a {
    color: white;
}

footer a:hover {
      color: rgb(172, 171, 171);
}
