.markdown_body {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.7;
  font-family: Poppins Regular;
}

.heading_markdown a {
  color: white;
  text-decoration: none;
}

.heading_markdown p {
  font-size: 15px;
  color: rgb(170, 170, 170);
}

.markdown_body {
  margin-top: 50px;
  color: rgb(204, 204, 204);
}

.markdown_body h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.markdown_body p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.markdown_body ul,
.markdown_body ol {
  margin-left: 1.5em;
  padding-left: 1.5em;
  list-style-position: outside;
  text-align: left;
}

.markdown_body li {
  margin-bottom: 0.7em;
  line-height: 1.5;
}

.markdown_body a {
  color: #cececeff;
  transition: color 0.2s ease;
}

.markdown_body a:hover {
  color: white;
}
