.main {
  margin-top: 50px;
  max-width: 800px;
  margin: 60px auto;
  padding: 40px;
  text-align: left;
  font-family: Poppins Regular;
}

.heading a {
  color: white;
  text-decoration: none;
}

.heading p {
  font-size: 15px;
  color: rgb(170, 170, 170);
}

.main_title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Poppins ExtraBold;
}
