.main_img {
  display: block;
  margin: 150px auto 0 auto;
  border-radius: 150px;
}

.main_div {
  padding-top: 20px;
  text-align: center;
  font-family: Poppins Regular;
}

.main_div h1 {
  font-size: 40px;
}

.main_div p {
    font-size: 20px;
    padding-top: 5px;
    color: rgb(194, 194, 194);
}

.profiles_imgs {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.git_img {
    margin-left: 25px;
}

.profiles_imgs span {
    width: 2px;
    margin-left: 25px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.3);
}

.about_button {
    background-color: rgb(92, 92, 92);
    border-radius: 8px;
    margin-top: 25px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: Poppins Regular;
    color: white;
}