---
import BaseLayout from "./BaseLayout.astro";
import "../styles/BasePostsStyles.css";
---

<BaseLayout>
  <div class="markdown_body">
    <div class="heading_markdown">
      <a href="/blog">Posts</a>
    </div>

    <slot />
  </div>
</BaseLayout>
